<div class="posts-body">
  <%= render "shared/side_bar" %>
  <div class="posts-index">
    <div class="sub-header">
      <div class="info"><%= @user.nickname %>さんの動画</div>
    </div>
    <div class="follow-length">
      <%= render 'relationships/follow_length', user: @user %>
    </div>
    <%= render 'shared/videos' %>
    <div class="page">
      <%= paginate @posts %>
    </div>
  </div>
</div>