<div class="posts-body">
  <%= render "shared/side_bar" %>
  <div class="posts-index">
    <div class="sub-header">
      <div class="info"><%= @user.nickname %>さんの動画</div>
    </div>
    <div class="follow-length">
      <%= render 'relationships/follow_length', user: @user %>
    </div>
    <div class="videos">
      <% @posts.each do |post| %>
        <div class="video">
          <%= link_to post_path(post.id) do %>
            <img src="https://img.youtube.com/vi/<%= post.youtube_url %>/mqdefault.jpg" />
          <% end %>
          <div class="youtube-title">
            <%= link_to post.title, post_path(post.id), method: :get %>
            <%= @user.nickname %>
          </div>
          <div class="video-status">
            <%= post.game.game_title %><%= post.grade.grades %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>