<div class="posts">
  <h1 class="upload">投稿画面</h1>
  <%= form_with model: @post, url: posts_path, local: true do |f| %>
  <%= render "shared/errors_messages", model: f.object %>
  <%# タイトル %>
  <div class="post-field">
    <p>タイトル名</p>
    <%= f.text_area :title, class:"text-area", id:"title", placeholder:"タイトル ５０文字まで", maxlength:"50" %>
  </div>
  <%# youtubeのURL %>
  <div class="post-field">
    <p>YoutubeのURL</p>
    <%= f.text_area :youtube_url, class: "text-area", id: "youtube-url", placeholder: "URLを記入", maxlength:"50" %>
  </div>
  <div class="post-field">
    <p>解説</p>
    <%= f.text_area :content, class: 'post-content', id: "content", placeholder: "2000文字まで", maxlength: "2000" %>
  </div>
  <%# 投稿するゲーム名選択 %>
  <div class="post-select">
    <div class="game-title-select">
      <p>投稿するゲーム名</p>
      <%= f.select :game, Game.all.map { |game| [game.game_title, game.id] }, { prompt: '選択してください' } %>
    </div>
    <%# どの階級に向けて投稿したいか %>
    <div class="grade-select">
      <P>投稿する階級</P>
      <%= f.select :grade, Grade.all.map { |grade| [grade.grades, grade.id] }, { prompt: '選択してください' } %>
    </div>
  </div>
  <div class="submit">
    <%= f.submit "送信" %>
  </div>
  <% end %>
</div>