<div class="posts-body">
  <%= render "shared/side_bar" %>
  <div class="post-show">
    <div class="youtube-cotainer">
    <iframe src="https://www.youtube.com/embed/<%= @post.youtube_url %>" class="youtube" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="post-show-title">
      <%= @post.title %>
    </div>
    <div class="post-nickname">
      <%= @post.user.nickname %>
    </div>
    <div class="follow">
      <% if @user != current_user %>
        <%= render 'relationships/follow_button', user: @user %>
      <% end %>
    </div>
    <div class="posts-editer">
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <%= link_to "編集", edit_post_path, method: :get, class: "post-edit" %>
        <%= link_to "削除", post_path, method: :delete, class:"post-destroy" %>
      <% end %>
    </div>
    <div class="post-status">
      <%= @post.game.game_title %>
      <%= @post.grade.grades %>
    </div>
    <div class="post-show-content">
      <%= @post.content %>
    </div>
  </div>
</div>