<!DOCTYPE html>
<html>
  <head>
    <title>Storagame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="header-logo">
        <%= link_to 'Storagame', root_path  %>
      </div>
      <div class="header-list">
        <div class="post">
          <% if user_signed_in? %>
            <%= link_to '投稿する', new_post_path  %>
            <%= link_to 'ログアウト', destroy_user_session_path, class: "logout", method: :delete %>
          <% else %>
            <%= link_to 'ログイン', new_user_session_path, class: "login" %>
            <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
    <div class="footer">
      <p>storagame</p>
      <%= link_to 'お問い合わせ', '#', class: "inquiry" %>
    </div>
  </body>
</html>
