<!DOCTYPE html>
<html>
  <head>
    <title>Storagame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=0.7" />
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="header-logo">
        <%= link_to 'Storagame', root_path  %>
      </div>
      <div class="header-list">
        <% if user_signed_in? %>
          <a class="dark-mode" id="dark">ダークモード</a>
          <a class="dark-mode" id="light" >ライトモード</a>
        <% else %>
        <% end %>
        <div class="post">
          <% if user_signed_in? %>
            <%= link_to '投稿する', new_post_path  %>
            <%= link_to 'ログアウト', destroy_user_session_path, class: "logout", method: :delete %>
          <% else %>
            <%= link_to 'ログイン', new_user_session_path, class: "login" %>
            <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
    <div class="footer">
      <p>storagame</p>
      <%= link_to 'お問い合わせ', '#', class: "inquiry" %>
    </div>
  </body>
</html>
